.customerRow {
    display: flex;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    cursor: pointer;
}

.customerRow:hover {
    background-color: #d6d6d6;
}

.customerRow div {
    padding: 10px;
    flex: 1;
}