.address-container {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    padding: 0 20px;
}

.address {
    background-color: #e6e6e6;
    margin-bottom: 5px;
    display: flex;
    padding: 10px;
}

.title {
    margin-bottom: 1rem;
}